.logo {
  text-decoration: none;
  cursor: pointer;
  h1 {
    color: #FFF;
    font-size: 1rem;
    @media screen and (min-width: 567px) {
      font-size: 2rem;
    }
  }
}
.header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  color: white;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #444;
  @media screen and (min-width: 567px) {
    padding: 0 5rem;
  }
}
.navigationMobile {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.menuMobileContainer {
  height: 30px;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}
.menuMobileButton {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
  &:before,
  &:after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  &:before {
    content: "";
    margin-top: -8px;
  }
  &:after {
    content: "";
    margin-top: 8px;
  }
  &.open {
    background: transparent;
    &:before {
      margin-top: 0px;
      transform: rotate(405deg);
    }
    &:after {
      margin-top: 0px;
      transform: rotate(-405deg);
    }
  }
}
.menuMobile {
  background: rgb(90, 89, 89);
  display: flex;
  gap: 1rem;
  position: absolute;
  top: 60px;
  left: 0;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
.navigation {
  display: flex;
  align-items: center;
  gap: 1rem;
  a {
    color: rgb(187, 13, 187);
    &:hover {
      text-decoration: underline;
    }
  }
}